{% extends 'base.html' %}

{% block user %}
<style>


</style>

    <div class="container mb-5 upanel">
      <div class="row">
      <div class="col-sm-12 jumbotron mt-2 " style="background: transparent; background-image:  url('https://images.unsplash.com/photo-1561736778-92e52a7769ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); background-size: cover;" id="jm">
        <h4 class="text-info text-center">Welcome back,<br>{{session['email']}}</h4>
      </div>
      </div>

      <div class="row">


        <div class="col-sm-4 col-lg-4 ">
          <div class="card-deck">
            <!-- 4 of these -->
            <div class="card text-center">
              <h4 class="card-header bg-warning text-light">My plan</h4>
              
               <div class="card-body">
                <p class="lead">You are currently on a {{plan_name}} plan</p> 
               </div>
            </div>
          </div>
         </div>



         <div class="col-sm-4 col-lg-4">
          <div class="card-deck">
            <!-- 4 of these -->
            <div class="card text-center">
              <h4 class="card-header bg-primary text-light">Change Plan</h4>
         
               <div class="card-body">
                <p class="lead">Request a change plan</p> 
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                  Change plan
                  </button>
               </div>
            </div>
          </div>
         </div>


    


         <div class="col-sm-4 col-lg-4">
          <div class="card-deck">
            <!-- 4 of these -->
            <div class="card text-center">
              <h4 class="card-header bg-info text-light">Cloud Usage</h4>
            
               <div class="card-body">
                <div class="c100 p{{plan_usage_percentage}} small card-img-top img-adjusted">
                  <span>{{plan_usage_percentage}}%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
              {% if plan_size==500 %}
              <small class="text-muted">{{utilized_size}}mb of 500mb</p> 
               {% elif plan_size==1000 %}
                <small class="text-muted">{{utilized_size}}mb of 1GB</p> 
               {% elif plan_size==5000 %}
               <small class="text-muted">{{utilized_size}}mb of 5GB</p>
               {% elif plan_size==10000 %}
               <small class="text-muted">{{utilized_size}}mb of 10GB</p>
                 {% endif %}
               
               </div>
            </div>
          </div>
         </div>
      </div>






      <div class="row mt-4">
        <div class="card col-12 mb-5">
          <h4 class="card-header text-center">MY FILE MANAGER</h4>
            {% if (files|length)==0 %} 
           <p class="lead text-center p-5">You have no files. Upload your files by clicking the browse button below</p>
           {% else %}


           <table class="table table-striped table-responsive-xs">
            <thead class="thead-dark">
              <th>Filename</th>
              <th>Filesize</th>
              <th>Actions</th>
            </thead>
            <tbody class="actions">
              {% for file in files %}
              <tr>
                <td>{{file[0]}}</td>
                <td>{{file[1]+" mb"}}</td>
                <td>
                  <div class="btn-group dropleft">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Actions
                    </button>
                    <div class="dropdown-menu">
                      <a id="dfile" fname="{{file[0]}}" data-toggle="tooltip" data-placement="top" title="Download file"  style="cursor: pointer;" class="dropdown-item">Download</a>
                      <a fname="{{file[0]}}" data-toggle="tooltip" data-placement="top" title="Delete file" id="delFile" style="cursor: pointer;" class="dropdown-item">Delete</a>
                    </div>
                  </div>


               
                
                 
                
                  </td>
              </tr>
              {% endfor %}
      
            </tbody>

           </table>
           {% endif %}
           
  
         
  
        
         <form action="#">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="file">
            <label class="custom-file-label" for="customFile" id="fname">Choose file</label>
          </div>
         
        </form>
        <small class="text-success my-3 text-center"  id="user-status" ></small>
        <div class="loader text-center" style="display: none;"><img src="{{url_for('static',filename='images/2.gif')}}"></div>
        <button class="btn btn-primary btn-sm my-3" id="inputFile" >UPLOAD</button>
        
        </div>
  
      </div>



    </div>



 <!--- Modal   -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please select your plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="plans" id="exampleRadios1" value="free">
          <label class="form-check-label" for="exampleRadios1">
            Free plan - 500mb 
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="plans" id="exampleRadios2" value="pro">
          <label class="form-check-label" for="exampleRadios2">
            Pro plan - 1GB @ 70 &#8377
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="plans" id="exampleRadios3" value="gold">
          <label class="form-check-label" for="exampleRadios3">
            Gold plan - 5GB @ 300 &#8377
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="plans" id="exampleRadios3" value="platinum">
          <label class="form-check-label" for="exampleRadios3">
           Plantinum plan - 10GB @ 500 &#8377
          </label>
        </div>
      </div>
      <p class="text-success" id="status_plan"></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button  class="btn btn-primary" id="pChange">Save changes</button>
      </div>
    </div>
  </div>
  <script>
    document.querySelector("#pChange").addEventListener("click",changePlan)
function changePlan(e){

console.log("changing plan");
var xhr=new XMLHttpRequest();

xhr.onload=function()
{
  let response=JSON.parse(xhr.responseText);
  { 
   document.querySelector("#status_plan").textContent=response['status'];
   setTimeout(reload_page,2000);
  }
};
xhr.open('POST','/changePlan',true);
var plans = document.getElementsByName('plans');
var plan_name;
for(var i = 0; i < plans.length; i++){
    if(plans[i].checked){
        plan_name = plans[i].value;
    }
}
var request={'plan_name':plan_name};
xhr.setRequestHeader("Content-type","application/json");
xhr.send(JSON.stringify(request))

}
  </script>
</div>

 <!-- end modal-->






    <script>
      document.querySelector("#customFile").addEventListener("change",showFileName);
      function showFileName(){
        var file_name=document.querySelector("#customFile").files[0].name
   
        document.querySelector("#fname").textContent="Selected file: "+file_name;



      }




      function reload_page(){
        window.location.reload();
      }
      document.querySelector("#inputFile").addEventListener("click",uploadFile)
      
      function uploadFile(){
        document.querySelector("#user-status").textContent="";
        document.querySelector(".loader").style.display="block";
      fd = new FormData();
      var file_data=document.getElementById("customFile").files[0];  
      var f_size=document.getElementById("customFile").files[0].size;  
      var xhr=new XMLHttpRequest();

xhr.onload=function()
{
  let response=JSON.parse(xhr.responseText);
  { 
    document.querySelector(".loader").style.display="none";
    if(response['status']=="Limit crossed"){
      document.querySelector("#user-status").style.fontSize="1.3rem";
    document.querySelector("#user-status").textContent="You have reached your storage limit,please upgrade your plan."
    

    }
    else{
    document.querySelector("#user-status").textContent=response['status'];
    setTimeout(reload_page,2000)
    }
  }
};
fd.append('file',file_data);
fd.append('f_size',f_size);
xhr.open('POST','/uploadFile',true);


xhr.send(fd)


      
      }


document.querySelector(".actions").addEventListener("click",requestDelete)
function requestDelete(e){
if(e.target.id=="delFile")
{
var xhr=new XMLHttpRequest();

xhr.onload=function()
{
  let response=JSON.parse(xhr.responseText);
  { 
   document.querySelector("#user-status").textContent=response['status'];
   setTimeout(reload_page,2000);
  }
};
xhr.open('POST','/deletefile',true);
var fname=(String)(e.target.getAttribute('fname'));
var request={'filename':fname};
xhr.setRequestHeader("Content-type","application/json");
xhr.send(JSON.stringify(request))
}
}


document.querySelector("#dfile").addEventListener("click",download_file)
function download_file(e){
  window.location.href="/downloadfile/"+e.target.getAttribute('fname');
}

























    
      
      </script>
      

      
{% endblock %}




      
   
     

    



